{% extends 'blog/base.html' %}
{% load static %}
{% load humanize %}
{% load user_info %}
{% block content %}
<div class="content-section col-md-6 m-auto">
  <h2 class="mb-4">Notifications</h2>
  <div class=" infinite-container">
    {% if page_obj %}
    {% for notification in page_obj %}
    <div class="infinite-item p-3 mb-2 list-group-item-action rounded {% if not notification.has_seen %}not-seen{%endif%}">
      <div class="d-flex align-items-center text-decoration-none">
          <img src="{{ notification.sender.profile.image.url }}" alt="{{ user }} Profile Pic" class="rounded-circle article-img">
          <div class="d-flex flex-column">
            <a class="text-decoration-none text-primary" href="{% url 'notifications:mark' notification.id %}">
                {{ notification.text_preview }}
            </a>
            
            <div class="text-secondary">
              {{ notification.date|naturaltime }}
            </div>
          </div>
          {% if not notification.has_seen %}
            <div class="text-white fw-bold ms-auto">New!</div>
          {%endif%}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="lead">You don't have new notifications
    </p>
    {% endif %}
  </div>
</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
<div class="d-flex justify-content-center" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'blog/scripts.js' %}"></script>
<script src="{% static 'blog/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'blog/infinite.min.js' %}"></script>
<script>
var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    $('.infinite-more-link').hide();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

    });

</script>
{% endblock %}