{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-md-5 mx-auto mt-5 decoration">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="fw-bold text-center">
            <span class="mx-auto">WELCOME BACK!</span> 
            </legend>
            {{ form|crispy }}
        <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot Password?</a>

        </fieldset>
        <button class="btn btn-primary mt-2 col-12 fw-bold" type="submit">LOG IN</button>
    </form>
    <div class="mt-2">
        <div>
            Don't you have an account? <a href="{% url 'register' %}" class="text-decoration-none">Sign Up Now</a>
        </div>
        
    </div>
</div>
{% endblock %}