{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-md-6 mx-auto decoration">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="fw-bold text-center">JOIN US</legend>
            {{ form|crispy }}
        </fieldset>
        <button class="btn btn-primary col-12 fw-bold" type="submit">SIGN UP</button>
    </form>
    <div class="mt-2">
    Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Log in</a>
    </div>
</div>
{% endblock %}