{% extends 'blog/base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <article class="card col-md-8 mx-auto">
        <header class="card-header d-flex align-items-center">
        <img src="{{ post.author.profile.image.url }}" alt="{{ post.author }} Profile Pic" class="rounded-circle article-img">
        <div id="author-profile">
            <a href="{% url 'profile' post.author.id %}">{{post.author.username}}</a><br> 
            <small class="text-muted">{{ post.updated_at|naturaltime }}</small>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown ms-auto">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <a 
            href="#" 
            class="btn-{% if not post in user.all_favs.all %}no-{% endif %}favorite dropdown-item d-flex align-items-center"
            id="fav-{{ post.id }}"
            onclick="handleFavorites('{% url 'blog:fav' post.id %}', '{% url 'blog:unfav' post.id %}', {{ post.id }});return false;"
            >
                <i class="fas fa-bookmark fa-lg me-2"></i>Save</span>
            </a>
            {%if user == post.author %}
              <a href="{% url 'blog:update' post.id %}" class="btn btn-outline-primary dropdown-item text-secondary">
                  <i class="fas fa-pen fa-lg"></i> Edit
              </a>
              <a href="{% url 'blog:delete' post.id %}" class="btn btn-outline-danger dropdown-item text-secondary">
                  <i class="fas fa-trash-alt fa-lg"></i> Delete
              </a> 
            {% endif %}
          </div>
        </div>
        {% endif %}
        </header>
        {% if post.image %}
        <img src="{{ post.image.url }}" class="car-img-top img-fluid" alt="{{ post }} Pic"/>
        {% endif %}
        <div class="card-body">
            <h2 class="card-title article-title"><a href=""></a> {{ post.title }}</h2>
            <p class="card-text article-content">{{ post.content|safe }}</p>
        </div>
    </article>
    
    {% comment %} esto falta por analizar {% endcomment %}
    <div class="col-md-4 mx-auto">
        <div class="content-section h-100 d-flex flex-column justify-content-between">
        <div>
            <h3>Comment Section</h3>
                {% if comments %}
                <div class="list-group group">
            
                {% for comment in comments %}
                    <div class="list-group-item comment-item d-flex align-items-center mt-2 infinite-item" id="comment-{{ comment.id }}">
                    <img src="{{ comment.author.profile.image.url }}" alt="{{ comment.author }} Profile Pic" class="rounded-circle article-img align-self-start">
                    <div><a href="{% url 'profile' comment.author.id %}">{{comment.author.username}} </a><small class="text-muted">({{ comment.updated_at|naturaltime }})</small><br><span id="comment-text-{{ comment.id }}">{{ comment.text }}</span></div>
                    {% if comment.author == user %}
                    <div class="ms-auto flex-shrink-0 align-self-start p-0">
                        <a href="#" onclick="editComment('{% url 'blog:update_comment' comment.id %}', {{comment.id}}); return false;" class="btn btn-outline-primary p-1">
                            <i class="fas fa-pen fa-lg"></i>
                        </a>
                        <a href="#" class="btn btn-outline-danger p-1" onclick="deleteComment('{% url 'blog:delete_comment' comment.id %}', {{comment.id}}, '{{ csrf_token }}'); return false;">
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </a>
                    </div>
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
        </div>
            {% endif %}
            <div class="">
                <form action="" method="post" class="d-flex mt-2">
                    {% csrf_token %}
                    <div class="flex-fill">
                    {{ comment_form|crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary ms-2 align-self-end ">Submit</button>
                    
                </form>
            </div>
        
    </div>
</div>


{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'blog/scripts.js' %}"></script>
{% endblock %}