{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="content-section col-md-7">
      <form action="" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-3 fw-bold">CREATE POST</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group mt-2">
              <button type="submit" class="btn btn-primary fw-bold rounded-pill col-12">Submit</button>
          </div>
      </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  tinymce.init({
    selector: "#id_content",
    plugins: "emoticons",
    toolbar: "emoticons",
    toolbar_location: "bottom",
    menubar: false
  });
</script>
{% endblock scripts %}