{% extends 'blog/base.html' %}
{% load humanize %}
{% block content %}
{% if posts %}
{% for post in posts %}
<article class="card mb-4">
  <header class="card-header d-flex">
  <img src="{{ post.author.profile.image.url }}" alt="{{ post.author }} Profile Pic" class="rounded-circle article-img">
    <div>
      <a href="{% url 'profile' post.author.id %}">{{post.author.username}}</a><br> <small class="text-muted">{{ post.updated_at|naturaltime }}</small>
    </div>
  </header>
  <div class="card-body">
    <h2 class="card-title"><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
    <p class="card-text">{{ post.content }}</p>
    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
  </div>
</article>
{% endfor %}
{% else %}
<p>There are no posts in the database</p>
{% endif %}
{% endblock %}