{% extends 'blog/base.html' %}

{% block content %}
<h1>Blog Home</h1>
{% if posts %}
{% for post in posts %}
<div class="card">
  <div class="card-header">
    <a href="#">{{post.author.username}}</a> <small class="text-muted">{{ post.updated_at }}</small>
  </div>
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.content }}</p>
    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
  </div>
</div>
{% endfor %}
{% else %}
<p>There are no posts in the database</p>
{% endif %}
{% endblock %}