{% extends 'blog/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="row">
  <div class="infinite-container col-md-7 mx-auto">
    {% for post in page_obj %}
    <article class="card mb-4 infinite-item">
      <header class="card-header d-flex align-items-center">
      <img src="{{ post.author.profile.image.url }}" alt="{{ post.author }} Profile Pic" class="rounded-circle article-img">
        <div>
          <a href="{% url 'profile' post.author.id %}">{{post.author.username}}</a><br> <small class="text-muted">{{ post.updated_at|naturaltime }}</small>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown ms-auto">
          <button class="btn text-white dropdown-toggle caret-off" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h fa-sm"></i>
          </button>
          <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
              <a href="{% url 'blog:detail' post.id %}" class="btn-no-favorite dropdown-item">
                Detail Page
              </a>
             {%if user == post.author %}
              <a href="{% url 'blog:update' post.id %}" class="btn-no-favorite dropdown-item">
                  <i class="fas fa-pen fa-lg"></i> Edit
              </a>
              <a href="{% url 'blog:delete' post.id %}" class="dropdown-item btn-no-favorite">
                  <i class="fas fa-trash-alt fa-lg"></i> Delete
              </a> 
            {% endif %}
          </div>
        </div>
        {% endif %}
      </header>
      {% if post.image %}
        <img src="{{ post.image.url }}" class="car-img-top img-fluid" alt="{{ post }} Pic"/>
      {% endif %}
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex">
            <a
              href="#" 
              class="btn-{% if not post in liked %}no-{% endif %}favorite"
              id="like-{{ post.id }}"
              onclick="handleFavorites('{% url 'blog:like' post.id %}', '{% url 'blog:un_like' post.id %}', 'like-{{ post.id }}');return false;"
              >
              <i class="fas fa-star fa-lg"></i>
              </a>
            <a href="{% url 'blog:detail' post.id %}#id_text" class="text-white ms-3">
              <i class="far fa-comment fa-lg"></i>
            </a>
          </div>
          <div>
            <a 
            href="#" 
            class="btn-{% if not post in favorites %}no-{% endif %}favorite"
            id="fav-{{ post.id }}"
            onclick="handleFavorites('{% url 'blog:fav' post.id %}', '{% url 'blog:unfav' post.id %}', 'fav-{{ post.id }}');return false;"
            >
              <i class="fas fa-bookmark fa-lg"></i>
            </a>
          </div>
        </div>
        <h2 class="card-title"><a class="article-title" href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
        <p class="card-text article-content">{{ post.content|truncatechars:150|safe }}</p>
        
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="content-section">
        <div class="d-flex justify-content-between mb-3 align-items-center">
          <h3>Suggestions</h3>
          <a class="text-decoration-none" href="{% url 'profiles' %}">More people</a>
        </div>
        {% for user in users|slice:":5" %}
        <div class="mb-3 d-flex align-items-center">
      
          <img src="{{ user.profile.image.url }}" alt="{{ user }} Profile Pic" class="rounded-circle article-img">
          <div class="flex-fill d-flex justify-content-between">
            <span class="fw-bold">
              <a href="{% url 'profile' user.id %}" class="text-white text-decoration-none">{{user.username}}</a>
            </span>
            <a
              id="{{ user.id }}"
              class="badge btn-primary btn pull-right"
              onclick="follow('{% url 'follow' user.id %}','{% url 'un_follow' user.id %}', {{ user.id }});return false;"
              >
                Follow
              </a>
          </div>
        </div>
        {% endfor %}
  </div>
  <div class="content-section mt-3 sticky-md-top">
  <h3 class="mb-4"><i class="fas fa-chart-line fa-lg"></i> Trending now</h3>
  {% for post in trending %}
    <div class="mb-4 d-flex">
    <div style="color: rgba(200, 200, 200, 1); font-size: 30px; font-weight: bold; font-family: Helvetica; position: relative; top: -15px;" class="me-3">
      0{{ forloop.counter }}
    </div>
      <div class="flex-fill">
        <a class="d-flex align-items-center mb-2 text-decoration-none" href="{% url 'profile' post.author.id %}">
          <img src="{{ post.author.profile.image.url }}" alt="{{ post.author }} Profile Pic" class="rounded-circle me-2" style="width: 25px; height: 25px;">
          <div>@{{ post.author.username }}</div>
          <div class="ms-auto">
          <div class="d-flex">
              <div class="text-light">
                <i class="fas fa-star fa-sm"></i>
                <span id="mg" class="me-1" style="font-family: 'Helvetica Neue';">{{ likes }}{{ post.likes.all|length }}</span>
              </div>
              <div class="text-light">
                <i class="far fa-comment fa-sm"></i>
                <span id="mg" class="me-1" style="font-family: 'Helvetica Neue';">{{ likes }}{{ post.comments.all|length }}</span>
              </div>
            </div>
          </div>
        </a>
        <h4 class="card-title mb-0 fw-bold" style="font-family: Helvetica;font-size: 20px;"><a class="article-title text-decoration-none" href="{% url 'blog:detail' post.id %}">{{ post.title|truncatechars:"50" }}</a></h4>
        <div class="text-muted">{{ post.updated_at|date:"M n Y" }}</div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
<div class="d-flex justify-content-center" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% endif %}


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'blog/scripts.js' %}"></script>
<script src="{% static 'blog/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'blog/infinite.min.js' %}"></script>
<script>
var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    $('.infinite-more-link').hide();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

    });

</script>

{% endblock %}